# Ensemble Learning

## Initial Imports

In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter

In [3]:
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced

## Read the CSV and Perform Basic Data Cleaning

In [4]:
# Load the data
file_path = Path('Resources/LoanStats_2019Q1.csv')
df = pd.read_csv(file_path)

# Preview the data
df.head()

,loan_amnt,int_rate,installment,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,dti,...,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,debt_settlement_flag
0,10500.0,0.1719,375.35,RENT,66000.0,Source Verified,Mar-2019,low_risk,n,27.24,...,85.7,100.0,0.0,0.0,65687.0,38199.0,2000.0,61987.0,N,N
1,25000.0,0.2000,929.09,MORTGAGE,105000.0,Verified,Mar-2019,low_risk,n,20.23,...,91.2,50.0,1.0,0.0,271427.0,60641.0,41200.0,49197.0,N,N
2,20000.0,0.2000,529.88,MORTGAGE,56000.0,Verified,Mar-2019,low_risk,n,24.26,...,66.7,50.0,0.0,0.0,60644.0,45684.0,7500.0,43144.0,N,N
3,10000.0,0.1640,353.55,RENT,92000.0,Verified,Mar-2019,low_risk,n,31.44,...,100.0,50.0,1.0,0.0,99506.0,68784.0,19700.0,76506.0,N,N
4,22000.0,0.1474,520.39,MORTGAGE,52000.0,Not Verified,Mar-2019,low_risk,n,18.76,...,100.0,0.0,0.0,0.0,219750.0,25919.0,27600.0,20000.0,N,N

## Split the Data into Training and Testing

In [5]:
# Create our features
X = df.drop(columns = 'loan_status').copy()

# Create our target
y = df['loan_status']

In [10]:
# taking and transpose and displaying all rows just for visibility
X.describe().T.style

# Encoding the object column "homeowner" and dropping first column

In [11]:
# Create the LabelEncoder instance
X = pd.get_dummies(X)
X.head()

,loan_amnt,int_rate,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,revol_bal,...,issue_d_Mar-2019,pymnt_plan_n,initial_list_status_f,initial_list_status_w,next_pymnt_d_Apr-2019,next_pymnt_d_May-2019,application_type_Individual,application_type_Joint App,hardship_flag_N,debt_settlement_flag_N
0,10500.0,0.1719,375.35,66000.0,27.24,0.0,0.0,8.0,0.0,1609.0,...,1,1,0,1,0,1,1,0,1,1
1,25000.0,0.2000,929.09,105000.0,20.23,0.0,0.0,17.0,1.0,18368.0,...,1,1,0,1,0,1,1,0,1,1
2,20000.0,0.2000,529.88,56000.0,24.26,0.0,0.0,8.0,0.0,13247.0,...,1,1,0,1,0,1,1,0,1,1
3,10000.0,0.1640,353.55,92000.0,31.44,0.0,1.0,10.0,1.0,17996.0,...,1,1,0,1,0,1,1,0,1,1
4,22000.0,0.1474,520.39,52000.0,18.76,0.0,1.0,14.0,0.0,9091.0,...,1,1,0,1,0,1,1,0,1,1

In [12]:
# Check the balance of our target values
y.value_counts()

low_risk     68470
high_risk      347
Name: loan_status, dtype: int64

In [13]:
# Create X_train, X_test, y_train, y_test
# Import train_test_split from sklearn
from sklearn.model_selection import train_test_split

# Split the data into training and testing
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=22, stratify=y)

# Shape X_train
X_train.shape

(51612, 95)

## Data Pre-Processing

Scale the training and testing data using the `StandardScaler` from `sklearn`. Remember that when scaling the data, you only scale the features data (`X_train` and `X_testing`).

In [14]:
# Create the StandardScaler instance
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

In [15]:
# Fit the Standard Scaler with the training data
# When fitting scaling functions, only train on the training dataset
scaler.fit(X_train)

StandardScaler()

In [16]:
# Scale the training and testing data
X_train_scaled, X_test_scaled = scaler.transform(X_train), scaler.transform(X_test)

## Ensemble Learners

In this section, you will compare two ensemble algorithms to determine which algorithm results in the best performance. You will train a Balanced Random Forest Classifier and an Easy Ensemble classifier . For each algorithm, be sure to complete the folliowing steps:

1. Train the model using the training data. 
2. Calculate the balanced accuracy score from sklearn.metrics.
3. Display the confusion matrix from sklearn.metrics.
4. Generate a classication report using the `imbalanced_classification_report` from imbalanced-learn.
5. For the Balanced Random Forest Classifier only, print the feature importance sorted in descending order (most important feature to least important) along with the feature score

Note: Use a random state of 1 for each algorithm to ensure consistency between tests

### Balanced Random Forest Classifier

In [17]:
# Import balanced random forest classifier (BRF)
from imblearn.ensemble import BalancedRandomForestClassifier

In [18]:
# Resample the training data with the BalancedRandomForestClassifier
brf = BalancedRandomForestClassifier(n_estimators=100, random_state=22)
brf.fit(X_train_scaled, y_train)

BalancedRandomForestClassifier(random_state=22)

In [21]:
# Calculated the balanced accuracy score
y_pred = brf.predict(X_test_scaled)
balanced_accuracy_score(y_test, y_pred)

0.800058216597975

In [22]:
# Display the confusion matrix
cm_brf = pd.DataFrame(confusion_matrix(y_test, y_pred), 
             index = ["High Risk (Predicted Positive)", "Low Risk (Predicted Negative)"], 
             columns = ["Positive", "Negative"])
cm_brf

                                Positive  Negative
High Risk (Predicted Positive)        63        24
Low Risk (Predicted Negative)       2123     14995

In [23]:
# Print the imbalanced classification report
from imblearn.metrics import classification_report_imbalanced

print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

  high_risk       0.03      0.72      0.88      0.06      0.80      0.62        87
   low_risk       1.00      0.88      0.72      0.93      0.80      0.64     17118

avg / total       0.99      0.88      0.72      0.93      0.80      0.64     17205

In [25]:
# List the features sorted in descending order by feature importance
feature_importance = brf.feature_importances_
sorted(zip(brf.feature_importances_, X.columns), reverse = True)

[(0.06413407134601781, 'total_pymnt'),
 (0.060662726262810523, 'total_rec_prncp'),
 (0.05681039429132027, 'total_rec_int'),
 (0.053972714670421224, 'total_pymnt_inv'),
 (0.04877198245911794, 'last_pymnt_amnt'),
 (0.027896818043961352, 'int_rate'),
 (0.020694204597187797, 'dti'),
 (0.01859192697851181, 'max_bal_bc'),
 (0.017923961782667017, 'issue_d_Jan-2019'),
 (0.017223652900327492, 'mths_since_recent_inq'),
 (0.01719757742510683, 'out_prncp'),
 (0.017167648030225822, 'annual_inc'),
 (0.01696311723372451, 'tot_hi_cred_lim'),
 (0.016546668621481863, 'avg_cur_bal'),
 (0.01619445851799015, 'mo_sin_old_il_acct'),
 (0.01560315008173812, 'bc_open_to_buy'),
 (0.015530843598627346, 'il_util'),
 (0.015514726470026689, 'revol_bal'),
 (0.01548273863424331, 'mo_sin_old_rev_tl_op'),
 (0.015248586436799525, 'installment'),
 (0.014964851823483092, 'bc_util'),
 (0.014480316644473286, 'mths_since_rcnt_il'),
 (0.014158534967876167, 'total_acc'),
 (0.01367726197522323, 'out_prncp_inv'),
 (0.013345860206901214, 'total_bc_limit'),
 (0.012953850296381715, 'tot_cur_bal'),
 (0.012878891963162142, 'all_util'),
 (0.012663259425262925, 'total_il_high_credit_limit'),
 (0.012593277449118456, 'total_rev_hi_lim'),
 (0.012522705340921304, 'pct_tl_nvr_dlq'),
 (0.01220451280231963, 'total_bal_il'),
 (0.011823778535130489, 'total_bal_ex_mort'),
 (0.011666293915481279, 'mths_since_recent_bc'),
 (0.011496824600252708, 'num_bc_tl'),
 (0.011398651332101504, 'issue_d_Mar-2019'),
 (0.011375061129570057, 'num_rev_accts'),
 (0.011230319187518677, 'num_il_tl'),
 (0.011170487801167932, 'mo_sin_rcnt_rev_tl_op'),
 (0.010318091288251563, 'mo_sin_rcnt_tl'),
 (0.010100001919370548, 'loan_amnt'),
 (0.00951311611838808, 'inq_last_6mths'),
 (0.009282870371305055, 'inq_fi'),
 (0.009279490130329632, 'num_sats'),
 (0.008869683545161456, 'open_acc'),
 (0.008839190395199011, 'num_op_rev_tl'),
 (0.008808289897200939, 'total_rec_late_fee'),
 (0.008690013774178405, 'num_rev_tl_bal_gt_0'),
 (0.008531326918257453, 'inq_last_12m'),
 (0.008299234958885116, 'num_actv_rev_tl'),
 (0.008224634723210446, 'percent_bc_gt_75'),
 (0.008031309547863259, 'num_bc_sats'),
 (0.006993905420114612, 'acc_open_past_24mths'),
 (0.006836471104154423, 'total_cu_tl'),
 (0.006605327723268795, 'num_actv_bc_tl'),
 (0.006493878012272393, 'mort_acc'),
 (0.006153082747936022, 'open_acc_6m'),
 (0.0060567025836905704, 'open_rv_24m'),
 (0.005611190516561492, 'num_tl_op_past_12m'),
 (0.0055216594818308165, 'open_act_il'),
 (0.005480588934806161, 'next_pymnt_d_Apr-2019'),
 (0.005007328870636682, 'issue_d_Feb-2019'),
 (0.004916513990666043, 'next_pymnt_d_May-2019'),
 (0.004844677647838658, 'open_il_24m'),
 (0.00435950239490941, 'open_il_12m'),
 (0.0040917169747263496, 'tot_coll_amt'),
 (0.003938067301582542, 'open_rv_12m'),
 (0.003389097007005209, 'delinq_2yrs'),
 (0.002662583542238921, 'verification_status_Not Verified'),
 (0.0026165181549707844, 'num_accts_ever_120_pd'),
 (0.0024198085559730556, 'verification_status_Source Verified'),
 (0.0021866283890471226, 'home_ownership_MORTGAGE'),
 (0.0018980352520812044, 'pub_rec'),
 (0.0018579945928107087, 'home_ownership_RENT'),
 (0.0017094217478005659, 'home_ownership_OWN'),
 (0.0013480281015252013, 'application_type_Joint App'),
 (0.0013161111354714928, 'pub_rec_bankruptcies'),
 (0.0009913115437108022, 'verification_status_Verified'),
 (0.0008372058872299171, 'application_type_Individual'),
 (0.0007434351001042439, 'initial_list_status_w'),
 (0.0006129396634802905, 'initial_list_status_f'),
 (0.000334033322466769, 'num_tl_90g_dpd_24m'),
 (0.00026376589174295433, 'collections_12_mths_ex_med'),
 (0.0002501492111666565, 'home_ownership_ANY'),
 (0.00012835782992499898, 'chargeoff_within_12_mths'),
 (0.0, 'tax_liens'),
 (0.0, 'recoveries'),
 (0.0, 'pymnt_plan_n'),
 (0.0, 'policy_code'),
 (0.0, 'num_tl_30dpd'),
 (0.0, 'num_tl_120dpd_2m'),
 (0.0, 'hardship_flag_N'),
 (0.0, 'delinq_amnt'),
 (0.0, 'debt_settlement_flag_N'),
 (0.0, 'collection_recovery_fee'),
 (0.0, 'acc_now_delinq')]

### Easy Ensemble Classifier

In [26]:
# Import the Easy Ensemble Classifier (EEC)
from imblearn.ensemble import EasyEnsembleClassifier

In [27]:
# Train the Classifier
eec = EasyEnsembleClassifier(n_estimators=100, random_state=22)
eec.fit(X_train_scaled, y_train)

EasyEnsembleClassifier(n_estimators=100, random_state=22)

In [28]:
# Calculated the balanced accuracy score
y_pred = eec.predict(X_test_scaled)
balanced_accuracy_score(y_test, y_pred)

0.9164088215268461

In [29]:
# Display the confusion matrix
cm_eec = pd.DataFrame(confusion_matrix(y_test, y_pred), 
             index = ["High Risk (Predicted Positive)", "Low RIsk (Predicted Negative)"], 
             columns = ["Positive", "Negative"])
cm_eec

                                Positive  Negative
High Risk (Predicted Positive)        78         9
Low RIsk (Predicted Negative)       1091     16027

In [30]:
# Print the imbalanced classification report
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

  high_risk       0.07      0.90      0.94      0.12      0.92      0.84        87
   low_risk       1.00      0.94      0.90      0.97      0.92      0.84     17118

avg / total       0.99      0.94      0.90      0.96      0.92      0.84     17205

### Final Questions

1. Which model had the best balanced accuracy score?

    - **Easy Ensemble Classifier had the best balanced accuracy score of 0.916**  
    
    
2. Which model had the best recall score?

    - **Easy Ensemble Classifier had the best recall score of 0.94**  
    
    
3. Which model had the best geometric mean score?

    - **Easy Ensemble Classifier had the best geometric mean score of 0.92**  
    
    
4. What are the top three features?

    - **total_pymnt**
    - **total_rec_prncp**
    - **total_rec_int**